<!DOCTYPE html>
<html>

<head>
  <title>Stocks App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="row"><div class="column">
      {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
        
      {% endfor %}
      </div></div>
    {% endif %}
  {% endwith %}    
    <div class="row">
      <div class="col">

        <p style="margin-top:10px"></p>
        <p>
        This index page provides multiple ways of submitting data to server to see the stock information.
        </p>
        <h2>Stock Market: Data and Queries</h2>
        <form action="/stocks" method="POST">
          <label for="stocksymbol">Stock Symbol:</label>
          <input size=20 type="text" id="stock-symbol2" name="stock-symbol">
          <label for="stockprice">Tracking Price:</label>
          <input size=20 type="text" id="stock-price2" name="stock-price">
          <label for="stockshares">Shares:</label>
          <input size=20 type="text" id="stock-shares2" name="stock-shares">
          <button type=submit class="btn btn-primary" id="submit-button">Submit</button>
        </form>
      </div>
    </div>
    <div class ="row">
      <div class ="column">
        <table id="example" class="table table-striped" style="width:100%">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Stock Symbol</th>
                  <th>Created</th>
                  <th>Tracking Price</th>
                  <th>Shares</th>
                  <th>Current Price</th>
                  <th>Percent Change</th>
              </tr>
          </thead>
          <tbody>
            {% for stock in stocks %}
            <tr>
              <td>{{ stock.id }}</td>
              <td>{{ stock.stock_symbol }}</td>
              <td>{{ stock.created }}</td>
              <td>{{ stock.tracking_price }}</td>
              <td>{{ stock.shares }}</td>
              <td>{{ stock.current_price }}</td>
              <td>{{ stock.percent_change }}</td>
              <td><a href="{{ stock.id }}/delete">REMOVE</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <button onclick="makeplot1()" >Display Bar Chart</button>
    <div class ="row">
      <div class ="column">
        <div id="graph1">

        </div>
      </div>
    </div>

    <button onclick="makeplot2()" >Display Pie Chart</button>
    <div class ="row">
      <div class ="column">
        <div id="graph2">

        </div>
      </div>
    </div>

  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-2.15.0.min.js"></script>
<script src="{{ url_for('static', filename='stocks.js') }}"></script>
</html>