<!DOCTYPE html>
<html>

<head>
  <title>Stocks App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="row"><div class="column">
      {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
        
      {% endfor %}
      </div></div>
    {% endif %}
  {% endwith %}    
    <div class="row">
      <div class="col">

        <p style="margin-top:10px"></p>
        <p>
        This index page provides multiple ways of submitting data to server to see the stock information.
        </p>
        <h2>GET - based Form</h2>
        <form action="/stocks" method="GET">
          <label for="stocksymbol">Stock Symbol:</label>
          <input size=20 type="text" id="stock-symbol1" name="stock-symbol">
          <button type=submit class="btn btn-primary" id="submit-button">Submit</button>
        </form>
        <h2>POST - based Form</h2>
        <form action="/stocks" method="POST">
          <label for="stocksymbol">Stock Symbol:</label>
          <input size=20 type="text" id="stock-symbol2" name="stock-symbol">
          <button type=submit class="btn btn-primary" id="submit-button">Submit</button>
        </form>

        <h2>Create "REST" based URL / JavaScript</h2>
        <label for="stocksymbol">Stock Symbol:</label>
        <input size=20 type="text" id="stockSymbol" name="stock-symbol">
        <button class="btn btn-primary" id="restButton">Submit</button>

      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</html>