<!DOCTYPE html>
<html>
  <head>
    <title>Stock Information: {{companyData["companyName"]}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
<div class="container">
  <div class="row">
    <div class="col">

    <p style="margin-top:10px"></p>
    <form method="GET">
	<label for="stock-symbol">Stock Symbol:</label>
    <input size=20 type="text"  id="stock-symbol" name="stock-symbol" value="{{companyData["symbol"]}}">
    <button type=submit class="btn btn-primary" id="submit-button">Submit</button>
	</form>

    <h2> <span id="name">{{companyData["companyName"]}}</span>(<span id="symbol">{{companyData["symbol"]}}</span>)</h2>
	{{companyData["sector"].capitalize()}} /  {{companyData["industry"].capitalize()}}<br>
	{{companyData["description"]}}

</div>
</div>

<div class="row">
    <div class="col-md" style="margin-top:40px">
		<strong>Market Capitalization:</strong> {{"${:0,.2f}".format(companyData["marketCap"])}}<br>
		<strong>Price to Earnings Ratio:</strong> {{companyData["peRatio"]}}<br>
		<strong>Earnings per Share:</strong> {{companyData["eps"]}}<br>
		<strong>Dividend:</strong> {{companyData["dividend"]}}<br>
		<strong>Dividend Yield:</strong> {{companyData["dividendYield"]}}<br>
		<strong>Stock Exchange:</strong> {{companyData["exchange"]}}<br>
		<strong>Current Price:</strong> {{daily["current"]}}<br>
		<strong>Previous Close:</strong> {{daily["previous"]}}<br>
		<strong>Open:</strong> {{daily["open"]}}<br>
		<strong>Volume:</strong> {{daily["volume"]}}<br>
		<strong>52 Week High:</strong> {{companyData["52WeekHigh"]}}<br>
		<strong>52 Week Low:</strong> {{companyData["52WeekLow"]}}<br>
    </div>
    <div class="col-md">
		<div id="myDiv" style="width: 720px; height: 400px;"></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
		<h3>Recent News</h3>
		{% for item in news%}
			<a href="{{item["url"]}}">{{item["title"]}}</a>
			<br>{{item["summary"]}}
			<p></p>
		{% endfor %}
    </div>
  </div>
</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.plot.ly/plotly-2.15.0.min.js"></script>
<script src="{{ url_for('static', filename='stocks.js') }}"></script>
</html>


